*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.conteiner{
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;
    display: flex   ;
    justify-content: center;
    align-items: center;
}

.total{

    border: 1px solid rgba(255, 255, 255, 0.868);
    margin-top: 100px;
    background-color: rgba(68, 145, 121, 0.365);
    padding: 20px;
}

body{
    background-image: url("https://th.bing.com/th/id/R.8cb63960c19271e23db3099a3a04ca9d?rik=1ExuiIWVsEYsDw&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
}


h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 4px 4px 10px black;;
}



input,
button{
    width: 300px;
    margin: 0 auto;
    display: block;
    height: 20px;
    align-self: center;
    margin-bottom: 4px;
}

button{
    height: 25px;
    font-weight: bolder;
    background-color: rgb(68, 145, 121);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

form button:hover{
    background-color: rgba(127, 255, 212, 0.801);
}

input::-webkit-input-placeholder{
    color: rgba(128, 128, 128, 0.422);
}


